*
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.navbar
{
    display: flex;
    height: 68px;
    width: 100%;
    background-color: transparent;
    position: fixed;
}
.navbar:hover
{
    background-color: black;
}
.navmain
{
    width: 70%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:50.83px;
    font-size: 14px;
}
.navsmall
{
    display: none;
}
.logo
{
    height: 30px;
    width: 92.5px;
}
.navcon
{
    margin-left: 30px;
    font-weight: 700;
}
.navend
{
    width: 25%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.search
{
    height: 25px;
    width: 175px;
}
.navph
{
    height: 25px;
    width: 25px;
}
.searchtitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 70%;
}
.searchbox
{
    height: 22px;
    width: 225px;
    margin-top:16px ;
    margin-bottom: 21.5px;
}
#searchb{
    border-radius: 10px;
}
#belll
{
    border-radius: 50%;
}
.navblack
{
    background-color: black;
}
/* .main{
    background-color: black;
} */
.black{
    height: 100%;
    background-color: black;
}
.photo
{
    height: 1000px;
    width: 100%;
    background-image: url(images/extraction2.jpg);
    background-size: cover;
    display: inline-block;
}
.movietitle
{
    margin-top: 150px;
    margin-left: 50px;
    height: 180px ;
    width: 450px;
    background-image: url(images/moviename.png);
    background-size: cover;
}
.best
{
    font-size: 20.5px;
    height: 32px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 1500;
}
.desc
{
    height: 58px;
    width: 450px;
    margin-left: 50px;
    font-weight: 600;
}
.play
{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    width: 120px;
    background-color: black;
    margin-top: 20px;
}
.playb
{
   margin-right: 10px;
}
.playmore
{
   
    display: flex;
}
.more
{
    margin-left: 50px;
    display: flex;
    height: 43px;
    width: 120px;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
    background-color: #6d6d6eb3;
}
.info
{
    margin-left: 10px;
}
.popular
{
    height: 200px;
    width: 100%;
    display: block;
    align-items: end;
    margin-top: 70px;
}
.photos
{
    height: 150px;
    width: 100% ;
    margin-top: 5px;
    margin-bottom:10px ;
    display: flex;
    justify-content: space-evenly;
}
.sphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.mphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex;
    justify-content: space-evenly; */
}
.on{
width: 90%;
margin-bottom: 20px;
margin-left: 50px;
font-weight: 1000;
font-size: 18px;
height: 25px;
}

.actual
{
    height: 120px;
    width: 250px;
    transition: transform 450ms;
}
.actual:hover{
    transform: scale(1.08);
}
.remain
{
    display: inline;
    width: 100%;
    height: 100%;
}
.trend
{
    margin-top: 30px;
    height: 200px;
    width: 100%;
}
.foot
{
    margin-top: 50px;
    height: 220px;
    width: 100%;
    display: inline-block;
}
.faced
{
    height:30px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.face
{
    margin-left: 30px;
    margin-right: 30px;
}
.foott
{
    padding-top: 20px;
    margin-left: 30px;
    height: 100px ;
    width: 95%;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
}
.row{
    height: 16px;
    list-style: none;
    
}
.rows
{
    margin-bottom: 16px;
    width: 245px;
    font-weight: 800;
}
.sfoot
{
    display: none;
}
@media only screen and (max-width:1150px)
{

    .navsmall
{
    display: none;
}
.sphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
}
.mphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
}
    .navbar{
        width:1150px;
    }
    .navmain{
        width: 60%;
    }
    .navend
    {
        display: none;
        width: 100%;
        justify-content: flex-start;
        margin: 20px 0;
    }
    .togglebtn
    {
        display: block;
        font-size: 30px;
        color: #fff;
        position: absolute;
        right: 20px;
        margin-top: 18px;
    }
    .popular{
        width: 1150px;
        margin-left: 0px;
    }
    .actual
{
    height: 100px;
    width: 200px;
    padding-right: 15px;
    transition: transform 450ms;
}
    .photos
    {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width:800px){
    .navbar
    {
        width: 100%;
    }
    .navsmall
    {
        display: none;
    }
    
.sphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
}
.mphotos
{
    height: 150px;
    margin-top: 5px;
    width: 100% ;
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
}
    .photo
{
    /* height: 100vh; */
    width:100%;
    background-image: url(images/extraction2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    /* display: inline-block; */
}
.popular,
.trend
{
    margin-left: 40px;
    margin-top: 50px;
    width: 700px;
    height: 100px;
}
.movietitle
{
    height: 100px;
    width: 300px;
    margin: 100px 0 0 25px;
    background-image: url(images/moviename.png);
    background-size: cover;
}
.popular
{
    margin-left: 40px;
}
    .actual
{
    height: 50px;
    width: 100px;
    padding-right: 15px;
    transition: transform 450ms;
}
    .photos
    {
        height: 100%;
        width: 700px;
    }
.rows{
    /* margin:0 0 20px 0; */
    width: 150px;
}
.on{
    width: 500px;
}
}
@media only screen and (max-width:460px)
{
    .navbar
    {
        width: 460px;
        height: 40px;
    }
    .navmain
    {
        display: none;
    }
    .navsmall
    {
        margin-left: 5px;
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }
    .navcon
    {
        font-size: 12px;
    }
    .desc
    {
        width: 350px;
        font-size: 10px
    }
    .photo
{
    /* height: 100vh; */
    width:100%;
    background-image: url(images/extraction2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    /* display: inline-block; */
}
.popular,
.trend
{
    margin-left: 40px;
    margin-top: 10px;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
    font-size: 14px;
}
.on{
    margin-bottom: 7px;
    font-size: 10px;
}
.movietitle
{
    height: 40px;
    width: 100px;
    margin: 50px 0 0 25px;
    background-image: url(images/moviename.png);
    background-size: cover;
}
.best
{
    width: 200px;
}
.play
{
    margin-left: 50px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 60px;
    background-color: black;
    margin-top: 5px;
}
.playb
{
   margin-right: 10px;
}
.playmore
{
   
    display: flex;
}
.more
{
    font-size: 10px;
    margin-left: 25px;
    display: flex;
    height: 20px;
    width: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background-color: #6d6d6eb3;
}
.info
{
    margin-left: 10px;
}
    .actual
{
    height: 50px;
    width: 100px;
    padding-right: 15px;
    transition: transform 450ms;
}
.mphotos
{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    width: 350px;
}
.sphotos
{
    display: none;
}
    .photos
    {
        display: none;
        height: 100%;
        width: 700px;
    }
    .trend,
    .popular
{
    width: 350px;
    margin-top: 10px;
    height: 100px;

}
.rows{
    width: 150px;
}
.on{
    width: 200px;
    font-size: 14px;
    margin-left: 10px;
}
.foot{
    width: 400px;
}
.rows{
    height: 25px;
    width: 100px;
    margin-right: 4px;
}
}
@media only screen and (max-width:320px)
{
    .movietitle
    {
        margin-top: 40px;
    }
    h4{
        font-size: 15px;
    }
    .navsmall{
        width: 300px;
    }
    .best{
        margin-left: 20px;
        margin-bottom: 0px;
        height: 20px;
        margin-top: 5px;
    }
    .desc{
        margin-left: 20px;
        width: 250px;
        height: 20px;
        font-size: 7px;
    }
    .playmore{
        width: 40px;
        height: 10px;
        font-size: 5px;
    }
    
    .popular
    {
        width: 300px;
        margin-left: 20px;
        height: 50px;
        margin-top: 15px;
    }
    .on{
        width: 280px;
        height: 10px;
        font-size: 7px;
    }
    .sphotos
    {
        display: flex;
        height: 50px;
    }
    .mphotos
    {
        display: none;
    }
    .trend
    {
        width: 300px;
        margin-left: 20px;
    }
    .faces
    {
        width: 25s0px;
    }
    .foot{
        width: 300px;
        margin-top: 25px;
    }
    .foott{
        display: none;
    }
    .sfoot{
    padding-top: 20px;
    margin-left: 30px;
    height: 250px ;
    width: 280px;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    }
    .faced{
        width: 280px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .srow
    {
        height: 15px;
        list-style: none;
        margin-right: 5px;
    }
    .face{
        margin-left: 10px;
        margin-right: 10px;
    }
    .foot{
        height: 300px;
    }
    .sfoot{
        background-color: black;
    }
    .more{
        height: 15px;
        font-size: 7px;
    }
    .play
    {
        height: 15px;
        font-size: 7px;
    }
    .photo{
        height: 800px;
    }
}
@media only screen and (max-width: 800px) {
    .black.black-background {
        background-color: black;
    }
}

@media only screen and (max-width: 460px) {
    .black.black-background {
        background-color: black;
    }
}

@media only screen and (max-width: 320px) {
    .black.black-background {
        background-color: black;
    }
}